/*& Global */
/*& ----------------------------------------------------------------------------- */

:root {
  --blue: #090979;
  --purple: #c001ff;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*& Body */
/*& ----------------------------------------------------------------------------- */

body {
  color: var(--white);
  font-family: 'Poppins', arial, sans-serif;
  background: rgb(9, 9, 121);
  background: linear-gradient(90deg, var(--blue), var(--purple) 100%);
  min-height: 100vh;
}

.wrapper {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  font-size: 1rem;
  min-height: 20vh;
}

.glass {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 0px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  color: rgba(255, 255, 255, 0.75);
  padding: 1rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

form input,
form button {
  background-color: var(--white);
  border: none;
  box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  padding: 0.8rem 1.2rem;
}

form input {
  border-radius: 1.5rem 0 0 1.5rem;
  width: 90%;
}

form button {
  border-radius: 0 1.5rem 1.5rem 0;
  color: var(--purple);
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  color: var(--white);
  background-color: var(--blue);
}

#warning {
  text-align: center;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 0.4rem;
  margin: 0 auto;
  padding: 0.5rem;
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

.hide {
  display: none;
}

.show {
  display: block;
  margin-bottom: 2rem;
}

#counter {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}

#task-list {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  flex-direction: column;
}

.task-card {
  background-color: var(--white);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 1rem;
  width: 90%;
}

.task-item {
  color: var(--blue);
  list-style-type: none;
  flex: 1;
  padding: 0.5rem;
}

.completed {
  color: var(--blue);
  text-decoration: line-through;
}
.edit-btn,
.complete-btn,
.delete-btn {
  color: var(--white);
  padding: 0.5rem;
  border: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.edit-btn:hover,
.complete-btn:hover,
.delete-btn:hover {
  opacity: 0.8;
}

.fa-edit,
.fa-check,
.fa-trash-alt {
  pointer-events: none;
}
.edit-btn {
  margin-right: 1rem;
  background-color: blue;
}

.complete-btn {
  margin-right: 1rem;
  background-color: green;
}

.delete-btn {
  margin-right: 1rem;
  background-color: red;
}

footer {
  font-size: 0.8rem;
  margin-top: 1rem;
  padding: 1rem;
}

/*& Animation for warning*/
/*& ----------------------------------------------------------------------------- */

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

/*& Media queries */
/*& ----------------------------------------------------------------------------- */

@media (min-width: 768px) {
  .glass {
    width: 60vw;
  }

  form input,
  #warning,
  .task-card {
    width: 70%;
  }
}
